.container {
  display: flex;
}
.grid {
  width: 300px;
  height: 600px;
  background-color: rgb(254, 249, 217);
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  height: 28px;
  width: 28px;
  margin: 1px;
}

.tetromino {
  background-color: palevioletred;
}

.mini-grid {
  margin-left: 50px;
  width: 120px;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(254, 249, 217);
}

.mini-grid div {
  height: 28px;
  width: 28px;
  margin: 1px;
}
